body > header {
    background-color: rgb(176, 80, 180);
    size : 100px;
    text-align: center;
    padding : 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body > section > header {
    color :rgb(255, 0, 162);

}

form {
    display : flex
    flex-direction : column;

}

#submit_button {
    background-color: rgb(255, 0, 162);
    cursor : pointer;
    color : white;
    padding : 8px 20px;
}

div {
    border-radius: 5px;
    border-color: black;
}
